$purple: #c28cae;
$dark-green: #475841;
$sage: #7e998a;
$onyx: #272525;

.App {
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    color: $onyx;
    background-color: #fff;
    min-height: 100%;
    width: 100%;
}

.header {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $purple;
    font-size: 16px;
    font-weight: bold;
    position: sticky;
    top: 0px;

    a {
        color: $purple;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
}

.home {
    .title {
        height: calc(100vh - 50px);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 15px;
            text-align: center;
            font-family: 'Fjalla One', sans-serif;
            font-size: 50px;
            font-weight: 600;
        }
    }
}

.home::before {
    content: '';
    background-image: url('./images/intro-photo3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.footer {
    hr {
        margin: 0 15px;
    }

    .footer-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 30px;
        margin-bottom: 30px;

        a {
            color: $purple;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            align-self: flex-start;
        }

        img {
            height: 1.25em;
            align-self: flex-end;
            margin-left: 15px;
        }
    }
}
